*{
    color:white;
    box-sizing: border-box;
    padding:0;
    margin:0;
}
body{
    background: url(ocean.jpg);
    background-position: center;
    background-repeat:no-repeat ;
    background-size: cover;
    height:100vh;
}
nav{
    display: flex;
    justify-content: center;
    background-color: black;
    z-index: 100;
    position:fixed;
    top:20px;
    left:0px;
}
nav ul{
    display:flex;
    list-style: none;
}
nav ul li{
    width:120px;
    padding:15px;
    cursor: pointer;
    text-align: center;
}
.active,nav ul li:hover{
    background-color: #333;
}
.sub-menu-1{
    display: none;
    background-color: #333;
}
nav ul li:hover .sub-menu-1 {
    display: block;
    position: absolute;
    margin-top:15px;
    position: absolute;
    margin-left:-15px;
    /* padding:10px; */
}
nav ul li:hover .sub-menu-1 ul {
    display:block;
    width:100%;
}

nav ul li:hover .sub-menu-1 ul li:hover{
    color:blueviolet;
}
.sub-menu-2{
    display: none;
}
.hover-me:hover .sub-menu-2{
    position:absolute;
    display: block;
    top: 70px;
    left:120px;
    background-color: #333;
}

